# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.env

# Django
*.log
*.pot
*.sqlite3
migrations/

# IDEs
.vscode/
.idea/

# Node.js (pour le frontend plus tard)
node_modules/
dist/
build/

# Autres
.DS_Store
*.swp